
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  /* min-height: 100vh; */
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: rgb(7, 2, 16);

}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.vid-container {
  height: 100vh;
}

#vid-introduction {
  background: black url(./images/\ SilentFilmVideo.gif) no-repeat center;
  height: 100vh;
}


#iframeContainer {  
  margin: 0 .75rem;
  display: flex;

}


#iframeContainer iframe {
 flex: 1;

}

.searchContainer {
  display: flex; 
  justify-content: start;
  gap: .5em;
}

.search {
  width: 55rem;
  display: block;
   margin: 0.5rem 0 1rem 2rem;
   border-radius: 0.2rem;

    
}

#button {
 font-size: 1.3rem;
 min-height: 1.875rem;
 padding: 0.33vw 0.7vw;
 line-height: 78%;
 margin: 0.5rem 2rem 1rem 0;
border-radius: 0 0.2rem 0.2rem 0;
 
}

.caption-container {
  width: 95%;
  margin: 1rem auto 2rem auto;
}

.caption {
  width: 100%;
  margin: 0 auto;
  font-size: 1rem;
 color: whitesmoke;
}

.caption.nightMode {
 width: 80%; 
 margin: 0 auto;
color: rgb(46, 40, 40);
background-color:rgb(7, 2, 16); ;

}





.news-container {
  border: none;
  max-width: 100%;
  margin: .9rem auto;
  padding: .25em;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  


}

.card-content {
  background-color: #666d86;
  margin: .5em;
  padding: .5em;
  color: #1f4c43;
  cursor: pointer;
  transition: 500ms;
  display: flex;
  flex-flow: column wrap;
  min-height:150px;

}

.card-content:hover, .card-content:focus {
  margin: .1rem;
}

.card-btn {
  text-decoration: none;
  color: #1f4c43;
  background-color: white;
  padding: 1rem;
  margin: auto;
  display: inline-block;


}